.yt-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.yt-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 10px;
}

.yt-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #272727;
}

.yt-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}